appdirs
biopython
cycler
docopt
h5py
Keras
matplotlib
nltk
numpy
packaging
pandas
protobuf
pydot
pydot-ng
pyparsing
python-dateutil
pytz
PyYAML
scikit-learn
scipy
six
sklearn
tensorflow
Theano
docopt
setuptools-scm
lxml
